@import 'stylus/variable.styl'

html,body
  padding 0px
  margin 0px
  background-color $bg-color
  font-family: 'Noto Sans CJK TC Regular', 'Microsoft JhengHei', 'Avenir', Helvetica, Arial, sans-serif

*
  box-sizing border-box
  outline none
  -webkit-tap-highlight-color: rgba(0,0,0,0)

.header-anchor
  display none

h1
  color #707070

