// All
$bg-color = #ECECE8
$master-color = #66916A
$slave-color = #C6DFC8
$accent-color = #ACD1AF


// Navbar
$navbar-width = 250px
$logo-size = 130px
$navbar-font-size = 16px
$navbar-text-color = #414141


